* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
}

main {
    background-color: hsl(257, 40%, 49%);
}

.container {
    /* max-width: 375px; */
    margin: auto;
}

.hero_bg {
    position: absolute;
}

.hero_section {
    /* padding: 2em; */
    position: relative;
    z-index: 1;
}

.logo {
    height: 35px;
    /* margin-bottom: 3em; */
}

.hero_image {
    /* max-width: 100%; */
}

.text_content {
    /* padding: 2em; */
    text-align: center;
    color: white;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: x-large;
    /* max-width: 300px; */
    /* margin-bottom: .6em; */
}

p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.7em;
    /* margin-bottom: 1.5em; */
}

button {
    border-radius: 100px;
    border-style: none;
    color: hsl(257, 40%, 49%);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: .05em;
    /* margin-bottom: 6em; */
    /* padding: 1em 6em; */
}

.social_icon {
    border: solid 2px white;
    border-radius: 100px;
    color: white;
    height: 15px;
    /* padding: .3em; */
    /* margin: .1em; */
}

.social_link {
    color: white;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 600px) {
    .container {
        max-width: 375px;
        /* margin: auto; */
    }

    .hero_section {
        padding: 2em;
        /* position: relative; */
        /* z-index: 1; */
    }

    .logo {
        /* height: 35px; */
        margin-bottom: 3em;
    }

    .hero_image {
        max-width: 100%;
    }

    .text_content {
        padding: 2em;
        /* text-align: center; */
        /* color: white; */
    }

    h1 {
        /* font-family: 'Poppins', sans-serif; */
        /* font-size: x-large; */
        max-width: 300px;
        margin-bottom: .6em;
    }

    p{
        /* font-family: 'Open Sans', sans-serif; */
        /* font-weight: 400; */
        /* line-height: 1.7em; */
        margin-bottom: 1.5em;
    }

    button {
        /* border-radius: 100px; */
        /* border-style: none; */
        /* color: hsl(257, 40%, 49%); */
        /* font-family: 'Poppins', sans-serif; */
        /* font-weight: bold; */
        /* letter-spacing: .05em; */
        margin-bottom: 6em;
        padding: 1em 6em;
    }

    .social_icon {
        /* border: solid 2px white; */
        /* border-radius: 100px; */
        /* color: white; */
        /* height: 15px; */
        padding: .3em;
        margin: .1em;
    }

}